/*---------------------------------Navbar------------------------------------*/
#topnav {
    background-color: #333;
    overflow: hidden;
    display: flex;
}

#topnav a {
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    justify-content: center;
}

.topnav-left {
    background-color: aqua;
}

.topnav-search {
    padding: 15px 15px;
    margin-left:auto;
    margin-right:auto;
    text-decoration: none;
    font-size: 16px;
    justify-content: center;
    background-color: lime;
}

.topnav-right {
    background-color: red;
}
/*---------------------------------------------------------------------------*/