body {
    margin: 0;
    padding: 0;
}

/*grid*/
.grid {
    margin-top: 20px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 13% 29% 29% 29%;
    grid-template-rows: 45px repeat(4, 1fr);
    grid-template-areas:
        "logo search pfp settings"
        "bar vid1 vid2 vid3"
        "bar vid4 vid5 vid6"
        "bar vid7 vid8 vid9"
        "bar vid10 vid11 vid12";
    height: 100vh;
    width: 100%;
}

/*---------------------------------Navbar------------------------------------*/
#topnav {
    background-color: #333;
    overflow: hidden;
}

#topnav a {
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav-left {
    grid-area: logo;
    display: flex;
    background-color: aqua;
    justify-content: center;
    align-items: center;

    /* temp format for text placeholder*/ 
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.topnav-search {
    grid-area: search;
    margin-left: 10%;
    margin-right: 10%;
    text-decoration: none;
    font-size: 16px;
    background-color: lime;
}

.topnav-settings {
    grid-area: settings;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;

    /* temp format for text placeholder*/ 
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.topnav-pfp {
    grid-area: pfp;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;

    /* temp format for text placeholder*/ 
    text-decoration: none;
    color: black;
    font-weight: bold;
}
/*---------------------------------------------------------------------------*/

/*----------------------------------Sidebar----------------------------------*/
#sidebar {
    background-color: #bdbdbd;
    z-index: 1;
    grid-area: bar;
}

#sidebar a {
    padding: 5px 5px;
    display: flex;
    font-size: 20px;
    text-decoration: none;
    text-align: left;
    color: black;
}

#sidebar a:hover {
    color: grey;
}
/*---------------------------------------------------------------------------*/

/* tesT*/

#test {
    background-color: green;
    grid-area: vid2;
}